.right-court-right-player-container, .left-court-left-player-container  {
    width: auto;
    padding: 0;
    margin-top: 40px;
    /*display: inline;*/
}

.right-court-left-player-container, .left-court-right-player-container  {
    width: auto;
    padding: 0;
    margin-top: 40px;
    /*display: inline;*/
}

.img-responsive {
    left: 50%;
}

.player-font-dropdown > ul > li {
    font-size: 0.8rem;
}

.player-drop-down-toggle {
    background-color: #305930;
    border-color: #305930;
}

.player-drop-down-toggle:disabled {
    background-color: #305930;
    border-color: #305930;
}
.green-player {
    height: 11vh;   
}

.blue-player-font {
    color: blue
}

.green-player-font {
    color: green
}

.pink-player-font {
    color: pink
}

.red-player-font {
    color: red
}

.yellow-player-font {
    color: yellow
}

.team-a-player-1 {
    background-color: #305930;
    width: 200px;
    left: 80px;
    top: 60px;
    margin-top: 80px;
    position: fixed;
    text-align: center;
}