.player-container {
    width: auto;
    padding: 0;
    margin-top: 40px;
}

.player-drop-down-toggle {
    background-color: #305930;
    border-color: #305930;
}

.blue-player-font {
    color: blue
}

.green-player-font {
    color: green
}

.pink-player-font {
    color: pink
}

.red-player-font {
    color: red
}

.yellow-player-font {
    color: yellow
}
