#left-court-left-side-shuttle {
    top: 40px;
    display: none;
}

#left-court-right-side-shuttle {
    bottom: 80px;
    display: none;
}

#right-court-left-side-shuttle {
    bottom: 80px;
    display: none;
}

#right-court-right-side-shuttle {
    top: 40px;
    display: none;
}


.left-court-shuttles {
    height: 9.5vh;   
    left: 60%;
}

.right-court-shuttles {
    height: 11vh;   
    left: 40%;
}

