img {
    height: 12vh;   
    position: fixed;
    transform: translate(-50%, 0%);
    opacity: 0.7;  
}

header {
    margin: 0;
    border: 0;
    display: flex;
}

.header-navbar {
    padding: 0;
    padding-top: .2rem;
    font-size: xx-large;
}

.setup-menu-container {
    position: absolute;
    right: 0px;
    width: 50px;
    font-size: 2rem;
}

.score-board-container,
.left-player-container,
.right-player-container,
.player-score-board-container,
.setup-menu-container {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
}

.left-player-container,
.right-player-container {
    width: 30px;
}

.score-board-container {
    position: relative;
    height: 10vh;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
}

.player-score-board-container {
    justify-content: center;
    border: 2px solid white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.team-a-players, .team-a-set-one, .team-a-set-two, .team-a-set-three, .team-a-warning {
    /*border: 3px dodgerblue;*/
    background-color: dodgerblue;
    color: black;
}

.team-b-players, .team-b-set-one, .team-b-set-two, .team-b-set-three, .team-b-warning  {
    /*border: 3px solid lightcoral;*/
    background: lightcoral;    
    color: black;
}

.team-a-players, .team-b-players {
    font-weight: 900;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.team-b-players {
    text-align: end;
}

.score-tally-board {
    border: 2px solid black;
    display: flex;
    padding: 0px 0px 0px 0px;
}

.set-one, .set-two, .set-three, .warning-cards {
    padding-right: 0;
    padding-left: 0;
    flex-grow: 0;
}

.team-a-warning, .team-b-warning  {
    width: 1.5vw;
}

.team-a-set-one, .team-a-set-two, .team-a-set-three,
.team-b-set-one, .team-b-set-two, .team-b-set-three {
    border: 2px solid black;
    width: 3vw;
}

.team-a-set-one, .team-a-set-two, .team-a-set-three,
.team-b-set-one, .team-b-set-two, .team-b-set-three,
.team-a-warning, .team-b-warning  {
    height: 4.7vh;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: 900;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #305930;
    color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    contain: content;
    object-fit: contain;
}

.footer-navbar {
    justify-content: center;
    /*margin-top: 15vh;*/
}

.master-container {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: inline-flex;
    contain: content;
    margin-top: 8vh;
}

.container-row {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: inline-flex;
    contain: content;
}

.court-row {
    display: inline-flex;
    contain: content;
    margin: 0;
}

li a {
    right: 4px;
    left: auto;
}

.not-active {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  color: black;
}

/* ----- Setup Settings ----- */
#game-settings {
    top: 10vh;
}

.modal-content {
    background-color: #305930;
    /*height: 50vh;*/
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    margin-right: 0;
    margin-left: 0;    
}

.modal-body {
    font-size: 2vh;
    padding: 0.8rem;
}

.modal-header {
    padding: 1vh;
}

.modal-header h4 {
    font-size: 4vh;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #f76606;
}

.dropdown-item:disabled {
    cursor: not-allowed;
    background-color: #f76606;
}

#game-interval {
    width: 20vw;
    top: 20vh;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#game-interval > * {
    width: 20vw;
}

#interval-timer {
    font-size: 20vh;
}


/* ***** Start of Tally Score Board Result page ***** */
#end-game-result-dialog {
    top: 15vh;
    width: fit-content;
}

table, th, td {
  border: 2px solid black;
  margin: 1vh;
}

.rally-points {
    width: 1vw;
    text-align: center;
}

#main-tally-score-board {
    width: 100%;
}

#game-set-col {
    width: 6vw;
}

#warning-card-col {
    width: 8vw;
}

.warning-cards {
    width: 2vw;
}
/*
#team-a-yellow-card,
#team-a-red-card,
#team-a-black-card,
#team-b-yellow-card,
#team-b-red-card,
#team-b-black-card {
    text-shadow: gray 1px 1px 1px;
};
*/
.tally-team-b-players {
    background: lightcoral;
    color: black;
    /*text-align: left;*/
}

.tally-team-a-players {
    background-color: dodgerblue;
    color: black;
    /*min-width: 5vw;*/
}

#start-new-set {
    font-weight: bolder;
    height: 6vh;
    width: 100%;
    font-size: 3vh;
};

@media only screen {
    .team-a-set-one, .team-a-set-two, .team-a-set-three,
    .team-b-set-one, .team-b-set-two, .team-b-set-three {
        border: 2px solid black;
        width: 3vw;
    }
    .menu-dropdown-list {
        left: -20vw;
        font-size: 3vh;
        width: 26vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation:portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
    }
}

@media only screen and (min-width: 576px) {
    #end-game-result-dialog {
        width: 100%;
    }
}
@media (min-width: 576px) {
    #end-game-result-dialog {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}
