img {
    height: 12vh;   
    position: fixed;
    transform: translate(-50%, 0%);
    opacity: 0.7;  
}

header {
    margin: 0;
    border: 0;
    display: flex;
}

.header-navbar {
    padding: 0;
    padding-top: .2rem;
    font-size: xx-large;
}

.setup-menu-container {
    position: absolute;
    right: 0px;
    width: 50px;
    font-size: 2rem;
}

.score-board-container{
    position: relative;
}

.score-board-container,
.left-player-container,
.right-player-container,
.player-score-board-container,
.setup-menu-container {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
}

.score-style {
    padding-top: 185px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;    
}

.left-player-container,
.right-player-container {
    width: 30px;
}

.score-board-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.player-score-board-container {
    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #305930;
    color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    contain: content;
    object-fit: contain;
}

.footer-navbar {
    justify-content: center;
    margin-top: 18vh;
}

.master-container {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: inline-flex;
    contain: content;
    margin-top: 8vh;
}

.container-row {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: inline-flex;
    contain: content;
}

.court-row {
    display: inline-flex;
    contain: content;
    margin: 0;
}

li a {
    right: 4px;
    left: auto;
}

/* ----- Setup Settings ----- */
#game-settings {
    top: 20vh;
}

.modal-content {
    background-color: #305930;
    /*height: 50vh;*/
    padding-right: 0px;
    padding-left: 0px;
    margin: 0l
    margin-right: 0;
    margin-left: 0;    
}

.modal-body {
    font-size: 2vh;
    padding: 0.8rem;
}

.modal-header {
    padding: 1vh;
}

.modal-header h4 {
    font-size: 4vh;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #f76606;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #f76606;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation:portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
    }
}
/*
@media only screen and (max-height: 380px) {
    .master-container {
        margin-top: 20px;
    }
}

@media only screen and (max-height: 540px) and (min-width: 600px) {
    .left-scorer, .right-scorer {
        width: 30vw;
        height: 240vh;
    } 

    .left-court-area, .right-court-area {
        height: 240vh;
    }
    .left-court-area, 
    .right-court-area, 
    .left-court-left-service-area,
    .left-court-right-service-area,
    .right-court-left-service-area,
    .right-court-right-service-area {
        width: 186vw;
    } 
    
    .left-net-area, .right-net-area {
        width: 78vw;
    }

    .left-court-left-service-area,
    .left-court-right-service-area,
    .right-court-left-service-area,
    .right-court-right-service-area {
        height: 120vh;
    }
    .left-court-long-service-line, 
    .right-court-long-service-line {
        height: 246vh;
        width: 36vw;
    }
    
    .top-sideline, 
    .bottom-sideline {
        width: 540vw;
        height: 22vh;
    }
}

@media only screen and (max-height: 320px) and (min-width: 500px) {
    .left-scorer, .right-scorer {
        width: 30px;
        height: 220px;
    } 

    .score-style {
        padding: 0;
        margin: 0;
        border: 0;
        padding-top: 95px;
        text-align: center;
        font-size: 20px;
        font-weight: 800;    
    }

    .left-court-area, .right-court-area {
        height: 220px;
    }

    .left-court-area, 
    .right-court-area, 
    .left-court-left-service-area,
    .left-court-right-service-area,
    .right-court-left-service-area,
    .right-court-right-service-area {
        width: 146px;
    } 
    
    .left-net-area, .right-net-area {
        width: 72px;
    }

    .left-court-left-service-area,
    .left-court-right-service-area,
    .right-court-left-service-area,
    .right-court-right-service-area {
        height: 110px;
    }

    .left-court-long-service-line, 
    .right-court-long-service-line {
        height: 226px;
        width: 32px;
    }
    
    .top-sideline, 
    .bottom-sideline {
        width: 500px;
        height: 22px;
    }
}
*/